{% extends "block-outline-base.twig" %}
{% block outline %}
	<div class="outline outline-row">
		<div class="outline-zone-1 col-md-4 outline-zone-wrap">Image</div>
		<div class="outline-zone-2 col-md-4 outline-zone-wrap">Image</div>
		<div class="outline-zone-1 col-md-4 outline-zone-wrap">Image</div>
	</div>
{% endblock outline %}

