<div class="block-3-cols-layout container">
	<div class="row">
		<div class="block-3-cols-layout-side">{{ wpb_render_block_children('side_column_lf') }}</div>
		<div class="block-3-cols-layout-main">{{ wpb_render_block_children('main_column') }}</div>
		<div class="block-3-cols-layout-side">{{ wpb_render_block_children('side_column_rg') }}</div>
	</div>
</div>